header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 30px;
}

.page-title {
    width: fit-content;
    font-size: 25px;
    cursor: pointer;
    color: var(--main-color);
    letter-spacing: -1px;
    text-shadow: 1px 1px #00000070;
    transition: all ease-in-out 0.3s;
    text-transform: uppercase;
    display: flex;
}

hr {
    width: 2px;
    margin-left: 10px;
    border: 2px solid #189541;
    transform: rotate(180deg);
    transition: all ease-in-out 0.3s;
}

.page-title:hover hr {
    margin-left: 26px;
    transform: rotate(90deg);
    transition: all ease-in-out 0.3s;
}

.page-title:hover {
    opacity: 0.8;
    transition: all ease-in-out 0.3s
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 653px) {
    header {
        justify-content: center;
    }

    .page-title {
        font-size: 20px;
    }
}