<footer>
    <h1 class="footer-title">
      {{title}}
      <hr/>
    </h1>
  
    <div class="contact">
      <h1>Contact</h1>
      <div class="social-media">
        <a href="https://www.facebook.com/crocobet" target="_blank">
          <img src="../assets/facebook.png" alt="facebook"/> 
        </a>
  
        <a href="https://www.instagram.com/crocobet_com/" target="_blank">
          <img src="../assets/instagram.png" alt="instagram"/> 
        </a>
  
        <a href="https://www.linkedin.com/company/crocobet/" target="_blank">
          <img src="../assets/linkedin.png" alt="linkedin"/>
        </a>
      </div>
    </div>
  </footer>