<div class="date-time">
    <div class="date-time-wrapper">
        <h1>Date</h1>
        <div class="date-time-div">
            <div class="block">
                <div class="top">
                    <p class="date">{{ day }}</p>
                </div>
                <div class="bottom">{{ day }}</div>
            </div> 
        
            <div class="block">
                <div class="top">
                    <p class="date">{{ month }}</p>
                </div>
                <div class="bottom">{{ month }}</div>
            </div> 
        
            <div class="block">
                <div class="top">
                    <p class="date">{{ year }}</p>
                </div>
                <div class="bottom">{{ year }}</div>
            </div>
        </div>
    </div>

    <div class="date-time-wrapper">
        <h1>Time</h1>
        <div class="date-time-div">
            <div class="block">
                <div class="top">
                    <p class="date">{{ hours }}</p>
                </div>
                <div class="bottom">{{ hours }}</div>
            </div> 
        
            <h1>:</h1>

            <div class="block">
                <div class="top">
                    <p class="date">{{ minutes }}</p>
                </div>
                <div class="bottom">{{ minutes }}</div>
            </div>
        </div>
    </div>
</div>
