<header>
  <h1 class="page-title">
    {{title}} 
    <hr/>
  </h1>
  <app-date-time></app-date-time>
</header>

<nav class="navigation">
  <a href="users">Users</a>
  <a href="posts">Posts</a>
</nav>

<h1 class="table-title">Users</h1>
<div class="table">
  <table>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Mobile</th>
      <th>E-mail</th>
      <th>Company name</th>
      <th>Posts</th>
      <th>Todo list</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Sweden</td>
      <td>Sweden</td>
      <td>
        <button>Posts</button>
      </td>
      <td>
        <button>Todo list</button>
      </td>
    </tr>
    <tr>
      <td>Berglunds snabbköp</td>
      <td>Christina Berglund</td>
      <td>Sweden</td>
      <td>Sweden</td>
      <td>Sweden</td>
      <td>
        <button>Posts</button>
      </td>
      <td>
        <button>Todo list</button>
      </td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
      <td>Mexico</td>
      <td>Mexico</td>
      <td>
        <button>Posts</button>
      </td>
      <td>
        <button>Todo list</button>
      </td>
    </tr>
  </table>
</div>

<h1 class="table-title">Posts</h1>
<div class="table">
<table>
  <tr>
    <th>User name</th>
    <th>Post title</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>
      <app-post-details-popup></app-post-details-popup>
    </td>
  </tr>
  <tr>
    <td>Berglunds snabbköp</td>
    <td>Christina Berglund</td>
    <td>
      <app-post-details-popup></app-post-details-popup>
    </td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>
      <app-post-details-popup></app-post-details-popup>
    </td>
  </tr>
</table>
</div>

<footer>
  <h1 class="footer-title">
    {{title}} 
    <hr/>
  </h1>

  <div class="contact">
    <h1>Contact</h1>
    <div class="social-media">
      <a href="https://www.facebook.com/crocobet" target="_blank">
        <img src="../assets/facebook.png" alt="facebook"/> 
      </a>

      <a href="https://www.instagram.com/crocobet_com/" target="_blank">
        <img src="../assets/instagram.png" alt="instagram"/> 
      </a>

      <a href="https://www.linkedin.com/company/crocobet/" target="_blank">
        <img src="../assets/linkedin.png" alt="linkedin"/>
      </a>
    </div>
  </div>
</footer>