<h1 class="table-title">Users</h1>
<div class="table">
  <table>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Mobile</th>
      <th>E-mail</th>
      <th>Company name</th>
      <th>Posts</th>
      <th>Todo list</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.company.name}}</td>
      <td>
        <button (click)="navigateToDetails(user.id,'/users-posts')">Posts</button>
      </td>
      <td>
        <a (click)="navigateToDetails(user.id,'/todo')" >
          <button>Todo list</button>
        </a>
      </td>
    </tr>
  </table>
</div>
